.mobileWebForm input::placeholder {
  color: #6246EA;
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}

.step-item:not(:first-child):before {
  @apply content-[''] bg-[#ccc] absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}

.step {
  @apply w-7 h-7 flex items-center justify-center z-10 relative border-[2px] bg-[#fff] border-[#ccc] rounded-full font-semibold text-[#fff] text-sm;
}

.active .step {
  @apply bg-[#fff] border-[#ccc];
}

.complete .step {
  @apply bg-[#2239bf] border-[#2239bf];
}

.complete p {
  @apply text-[#000];
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-[#2239bf];
}

/* mobile form pop up css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  }
  
  .popup div {
  overflow-y: auto;
  padding: 20px 60px;
  /* background-color: #6246ea;   */
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
}

.popup div:last-child {
  border-bottom: none;
}

.popup button:hover {
  background-color: #503bcf;
}