@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.rotate-icon {
  transition: transform 0.2s ease-in-out;
}

.hoverBox:hover .rotate-icon {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.button {
  width: fit-content;
  display: flex;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(to right, #484f9d, #484f9d,#4bc7ef, #4bc7ef, #ff8000, #ff8000, #db3737, #db3737) no-repeat;
  background-size: 300%;
  transition: background .4s ease;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}