.waveContainer section {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to right, #484f9d, #4bc7ef);
    overflow: hidden;
  }
  
  .wavey {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: url(https://creative-ishi.myshopify.com/cdn/shop/files/wave-pattern_copy_1.png?v=1680610084);
    /* background-size: 600px 80px; */
    background-repeat: repeat-x;
  }
  
  section .wavey.wave1 {
    animation: wavey 20s cubic-bezier(.36, .45, .63, .53) infinite
  }
  
  @keyframes wavey {
    0% {
      background-position-x: 0;
    }
  
    100% {
      background-position-x: -1000px;
    }
  }