.hero-img-area-rounded-cicleicon4 {
    animation: rotateCircle 12s linear infinite;
  }
  
  @keyframes rotateCircle {
    0% {
      -webkit-transform: rotate(0deg) translateX(225px) rotate(0deg);
      transform: rotate(0deg) translateX(225px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translateX(225px) rotate(-1turn);
      transform: rotate(1turn) translateX(225px) rotate(-1turn);
    }
  }
  
  .hero-img-area-rounded-cicleicon5 {
    animation: rotateCircle2 12s linear infinite;
  }
  
  @keyframes rotateCircle2 {
    0% {
      -webkit-transform: rotate(0deg) translateY(225px) rotate(0deg);
      transform: rotate(0deg) translateY(225px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translateY(225px) rotate(-1turn);
      transform: rotate(1turn) translateY(225px) rotate(-1turn);
    }
  }
  
  .hero-img-area-rounded-cicleicon6 {
    animation: rotateCircle1 12s linear infinite;
  }
  
  @keyframes rotateCircle1 {
    0% {
      -webkit-transform: rotate(0deg) translate(-160px, -160px) rotate(0deg);
      transform: rotate(0deg) translate(-160px, -160px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translate(-160px, -160px) rotate(-1turn);
      transform: rotate(1turn) translate(-160px, -160px) rotate(-1turn);
    }
  }
  
  .hero-img-area-rounded-cicleicon {
    animation: rotateCircle3 12s linear infinite;
  }
  
  @keyframes rotateCircle3 {
    0% {
      -webkit-transform: rotate(0deg) translateY(-190px) rotate(0deg);
      transform: rotate(0deg) translateY(-190px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translateY(-190px) rotate(-1turn);
      transform: rotate(1turn) translateY(-190px) rotate(-1turn);
    }
  }
  
  .hero-img-area-rounded-cicleicon2 {
    animation: rotateCircle4 12s linear infinite;
  }
  
  @keyframes rotateCircle4 {
    0% {
      -webkit-transform: rotate(0deg) translate(-135px, 135px) rotate(0deg);
      transform: rotate(0deg) translate(-135px, 135px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translate(-135px, 135px) rotate(-1turn);
      transform: rotate(1turn) translate(-135px, 135px) rotate(-1turn);
    }
  }
  
  .hero-img-area-rounded-cicleicon3 {
    animation: rotateCircle5 12s linear infinite;
  }
  
  @keyframes rotateCircle5 {
    0% {
      -webkit-transform: rotate(0deg) translate(135px, 135px) rotate(0deg);
      transform: rotate(0deg) translate(135px, 135px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(1turn) translate(135px, 135px) rotate(-1turn);
      transform: rotate(1turn) translate(135px, 135px) rotate(-1turn);
    }
  }
  
  /* Media queries */
  @media only screen and (max-width: 1024px) {
    .hero-img-area-rounded-cicleicon4 {
      animation: rotateCircleMobile1 12s linear infinite;
    }
  
    @keyframes rotateCircleMobile1 {
      0% {
        -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg);
        transform: rotate(0deg) translateX(150px) rotate(0deg);
      }
  
      100% {
        -webkit-transform: rotate(1turn) translateX(150px) rotate(-1turn);
        transform: rotate(1turn) translateX(150px) rotate(-1turn);
      }
    }
  
    .hero-img-area-rounded-cicleicon5 {
      animation: rotateCircleMobile2 12s linear infinite;
    }
  
    @keyframes rotateCircleMobile2 {
      0% {
        -webkit-transform: rotate(0deg) translateY(150px) rotate(0deg);
        transform: rotate(0deg) translateY(150px) rotate(0deg);
      }
  
      100% {
        -webkit-transform: rotate(1turn) translateY(150px) rotate(-1turn);
        transform: rotate(1turn) translateY(150px) rotate(-1turn);
      }
    }
  
    .hero-img-area-rounded-cicleicon6 {
      animation: rotateCircle1 12s linear infinite;
    }
  
    @keyframes rotateCircle1 {
      0% {
        -webkit-transform: rotate(0deg) translate(-80, -80px) rotate(0deg);
        transform: rotate(0deg) translate(-80px, -80px) rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(1turn) translate(-80px, -80px) rotate(-1turn);
        transform: rotate(1turn) translate(-80px, -80px) rotate(-1turn);
      }
    }
  
    .hero-img-area-rounded-cicleicon {
      animation: rotateCircle3 12s linear infinite;
    }
  
    @keyframes rotateCircle3 {
      0% {
        -webkit-transform: rotate(0deg) translateY(-150px) rotate(0deg);
        transform: rotate(0deg) translateY(-150px) rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(1turn) translateY(-150px) rotate(-1turn);
        transform: rotate(1turn) translateY(-150px) rotate(-1turn);
      }
    }
  
    .hero-img-area-rounded-cicleicon2 {
      animation: rotateCircleMobile2 12s linear infinite;
    }
  
    @keyframes rotateCircleMobile2 {
      0% {
        -webkit-transform: rotate(0deg) translate(-75px, 75px) rotate(0deg);
        transform: rotate(0deg) translate(-75px, 75px) rotate(0deg);
      }
  
      100% {
        -webkit-transform: rotate(1turn) translate(-75px, 75px) rotate(-1turn);
        transform: rotate(1turn) translate(-75px, 75px) rotate(-1turn);
      }
    }
  
    .hero-img-area-rounded-cicleicon3 {
      animation: rotateCircle5 12s linear infinite;
    }
  
    @keyframes rotateCircle5 {
      0% {
        -webkit-transform: rotate(0deg) translate(75px, 75px) rotate(0deg);
        transform: rotate(0deg) translate(75px, 75px) rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(1turn) translate(75px, 75px) rotate(-1turn);
        transform: rotate(1turn) translate(75px, 75px) rotate(-1turn);
      }
    }
  }